<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-latest.js"></script>


    <title>chatbot</title>
  
</head>
<body>
<div class='main' id=''>
    <div class='container' id=''>
        <div class='flex' id=''>
          <!-- 왼쪽 상태바 start -->
          <div class='left_body ' id=''>
            
          </div>

          <!-- 왼쪽 상태바 end -->
          <!-- 오른쪽 상태바 -->
          <div class='right_body ' id=''>
        <!-- header start -->
            <div class='header' id=''>
                <div class='header_title' id=''>
                    <h2>Genia</h2>
                </div>
            </div>

        <!-- header end -->

            <div class="chatBox" id="chatBox">
                <!-- Chat messages will be appended here -->
                <!-- <div class="loadingDiv" id="loadingDiv">
                    <div class="loadingImg"></div>
                </div> -->
            </div>
            <div class='' id=''>
                <div class="chatBox_img"><img src="../static/Character.png" alt="chunjae_img"></div>
                <div class="userInput" id="userInput">
                    <input type="text" id="message" placeholder="Please message...">
                    <button onclick="sendMessage()" id="sendBtn"><i class='fas fa-arrow-right'></i></button>
                </div>
            </div>

        </div>
          <!-- 오른쪽 상태바 end -->

          <script>
            const messageInput = document.getElementById("message");
            const chatBox = document.getElementById('chatBox');
            const sendBtn = document.getElementById("sendBtn");
    
            // xhr 변수 -> 사용자가 질의하면 백엔드로 요청을 보내기 위해서 사용됨 (아래에서 사용됩니다..!)
            let xhr;
    
            // 질문하는 칸에서 사용자가 enter 키를 클릭하면 (엔터 key code가 13번) sendMessage 함수를 직접 호출해줘서 백엔드로 요청 전송
            messageInput.addEventListener("keyup", (e) => {
                if (e.keyCode === 13) {
                    sendMessage(); // 사용자가 질의한 내용에 대해 백엔드로 요청 전송해주는 함수
                }
            });
            
            function sendMessage() {
              console.log(sendBtn.innerHTML)
    
              // 원래 우측 화살표 버튼을 클릭하면 백엔드로 요청이 전송돼야 하는데, 요청을 보내고 대기 중일때는 네모난 모양으로 변경 됨
              // sendBtn 안에 있는 '태그'가 네모난 모양의 버튼이라면 (<i class="far fa-square"></i>), 백엔드로 보낸 요청을 취소해야함
              // 백엔드로 보낸 요청을 취소 하는 것은, 답변이 오는 중일때만 취소 가능.
                if (sendBtn.innerHTML === '<i class="far fa-square"></i>') {
                    xhr.abort(); // 백엔드로 보낸 요청을 강제로 취소
                }
    
                // 만약 사용자가 아무것도 입력하지 않고 요청을 보내면 백엔드로 요청을 보내지 않기 위해 확인 (trim 함수는 문자열 앞, 뒤 공백을 제거해줌 -> 실제로 입력된 글자가 있는지 확인 가능)
                let message = messageInput.value;
                if (!message.trim()) return; // 아무것도 입력하지 않았다면 sendMessage 함수를 강제로 종료하여 백엔드로 요청 보내지 않도록...
    
                // Display user message
                var userMessage = document.createElement('div'); // div 태그를 자바스크립트 코드로 생성
                userMessage.classList.add("userInput"); // css에서 활용할 수 있도록 태그에 클래스를 추가 (userInput 이라는 클래스를 추가)
                userMessage.textContent = '사용자: ' + message; // 사용자가 작성한 질문글 앞에 '사용자: ' 라는 문자열을 추가
                chatBox.appendChild(userMessage); // chatBox 태그 안에 가장 마지막 자식으로 사용자가 입력한 문자열을 추가
    
                // 스크롤바 하단으로 이동
                chatBox.scrollTop = chatBox.scrollHeight;
    
                // 입력란 비우기
                messageInput.value = '';
    
                // 백엔드로 요청을 보내기 위한 XMLHttpRequest 객체 생성
                xhr = new XMLHttpRequest();
                
                // XMLHttpRequest는 여러 가지 '상태 값'을 가짐. 예를 들어 특정 백엔드 주소로 요청을 보낼 수 있게 주소를 세팅하는 open 함수를 호출했을 경우 readyState는 XMLHttpRequest.OPENED라는 상태로 변함
                // 즉, XMLHttpRequest의 '상태'가 변할 때 마다 특정한 '동작'을 할 수 있도록 설정하는 것 (callback 함수 설정 한 번 검색해보시면...ㅎㅎ)
                // xhr.onreadystatechanged = function () {}는 '무조건' xhr의 다른 함수를 호출하기 전에 먼저 작성돼야 함 (open 함수 실행 전, send 함수 실행 전 등 이러한 함수를 호출하기 전에 onreadystatechanged 를 먼저 설정 필요)
                xhr.onreadystatechange = function () {
                    if(xhr.readyState === XMLHttpRequest.OPENED) {
                        console.log("답변 가져오기를 기다리는 중");
                        messageInput.disabled = true; // 사용자가 다른 질문을 입력하지 못하게 입력란 막음
                        messageInput.value = "답변 가져오는 중..."; // 막힌 입력란에 답변 가져오는 중... 이라는 text 출력
                        sendBtn.innerHTML = '<i class="far fa-square"></i>'; // 원래 우측 화살표였던 것을 네모난 중지 태그로 변경
    
                        chatBox.innerHTML += '<div class="loadingDiv" id="loadingDiv"><div class="loadingImg"></div></div>'; // 채팅란에 빙글뱅글 돌아가는 태그 동적으로 추가
                        chatBox.scrollTop = chatBox.scrollHeight; // 스크롤 맨 아래로
                    }
    
                    if(xhr.readyState === XMLHttpRequest.DONE) {
                        // XMLHttpRequest.DONE 이라는 '상태'는 사용자가 네모난 중지 버튼을 클릭했을 때, 서버에서 오류가 발생해서 적절한 응답을 가져오지 못했을 때, 정상적인 응답을 가져왔을 때 
    
    
                        console.log("요청 종료됨");
                        messageInput.disabled = false; // 사용자가 다시 입력할 수 있도록 disable를 false로 설정
                        messageInput.value = ""; // 사용자 입력란 비워주기 (답변 가져오는 중... 이라는 텍스트 제거)
                        sendBtn.innerHTML = "<i class='fas fa-arrow-right'></i>" // 네모난 중지 버튼에서 다시 화살표로 변경시켜주기
                        let loadingDiv = document.getElementById('loadingDiv'); 
                        loadingDiv.remove(); // 뱅글뱅글 돌아가는 태그 삭제
                        
                        if (xhr.status === 200) {
                            // 정상적으로 답변을 가져왔으면, state에 200이라는 값이 자동으로 저장 됨.
                            console.log("정상적으로 답변 가져옴");
                            var response = JSON.parse(xhr.responseText); // 서버에서 갖고온 답변 추출 전처리...
                            var botMessage = document.createElement('div'); // 답변을 보여줄 태그 생성
                            var text = response.message; // 전처리된 것에서 실제 텍스트 추출
    
                            botMessage.classList.add("answer"); // css에서 사용될 수 있도록 클래스 추가
    
                            chatBox.appendChild(botMessage); // 채팅 목록에 추가
    
                            displayText(botMessage, text, 0); // ChatGPT처럼 한 글자씩 입력되도록...
    
                        } else if (xhr.status === 0) {
                            // 사용자가 네모난 중지 버튼을 클릭했으면 state에 0이라는 값이 저장됨
                            console.log("답변 가져오기 중지함");
                            messageInput.disabled = false; // 다시 사용자가 입력할 수 있도록 설정
                            messageInput.value = ""; // 답변 가져오는 중... 이라는 텍스트 제거
                            sendBtn.innerHTML = "<i class='fas fa-arrow-right'></i>"; // 다시 우측 화살표로 변경
                            chatBox.scrollTop = chatBox.scrollHeight; // 스크롤 맨 아래로
                        } else {
                            // 서버에서 에러 발생함...
                            alert('Error: ' + xhr.status); // 에러 발생했다는 경고창 표시.
                            messageInput.disabled = false; // 다시 사용자가 입력할 수 있도록 설정
                            messageInput.value = ""; // 답변 가져오는 중... 이라는 텍스트 제거
                            sendBtn.innerHTML = "<i class='fas fa-arrow-right'></i>"; // 다시 우측 화살표로 변경
                            chatBox.scrollTop = chatBox.scrollHeight;                        
                        }
                    }
                };
                xhr.open('POST', '/chat', true); // 백엔드 어느 주소에 요청 보낼 것인지 설정...
                xhr.setRequestHeader('Content-Type', 'application/json'); // 요청 형식인데 이대로 고정해서 사용하시면 됩니다.
                xhr.send(JSON.stringify({ message: message })); // 이것도 json 형식으로 설정해서 보내 주는 건데 이대로 고정해서 사용하면 됩니다..!
            }
    
    
            // ChatGPT처럼 한 글자씩 출력하도록...
            function displayText(botMessage, text, index) {
                if (index < text.length) {
                    botMessage.textContent += text[index];
                    chatBox.scrollTop = chatBox.scrollHeight;
                    setTimeout(function() {
                        displayText(botMessage, text, index + 1);
                    }, 30); 
                    // 30milli sec
                } else {
                    chatBox.scrollTop = chatBox.scrollHeight;
                }
            }
        </script>
      </div>
    </div>
</div>    

</body>
</html>