<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <title>이야기 듣기</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap"
      rel="stylesheet"
    />
    <style>
      /* 채팅방 전체 */
      .chat-container {
        max-width: 100%;
        margin: 0 auto;
        height: 100vh;
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
      }

      /* 채팅방 해더 */
      .chat-header {
        padding: 1rem;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .chat-body {
        font-family: "Do Hyeon", sans-serif;
        flex: 1;
        padding: 1rem;
        overflow-y: auto;
        background-color: #ffffff;
      }

      .chat-footer {
        padding: 1rem;
        background-color: #f8f9fa;
      }

      .npc {
        margin-bottom: 10px;
      }

      /*부엉이 채팅*/
      .npc-message {
        display: flex;
        justify-content: start;
      }

      /* 부엉이 채팅 초록 박스 */
      .npc-message-box {
        /* width: 40%; */
        display: inline;
        margin-top: 1rem;
        margin-bottom: 5px;
        padding: 1rem;
        border-radius: 1rem;
        border-top-left-radius: 0px;
        background-color: white;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        background-color: rgba(195, 233, 145, 0.34);
      }

      /* 채팅 전송자 폰트 */
      .npc-message-box .message-sender {
        font-weight: bold;
      }

      /* 채팅 내용 */
      .npc-message-box .message-text {
        margin-top: 0.5rem;
      }

      /* 스토리텔링 옵션 */
      .npc-options {
        /* width: 50%; */
        display: flex;
        justify-content: space-between;
        margin-top: 0.5rem;
        margin-left: 40px;
      }

      .npc-options-vertical {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0.5rem;
        margin-left: 40px;
      }

      .npc-option {
        /* width: 100px; */
        width: 75%;
        margin: 0px 10px 10px 10px;
        /* margin: 0px 20px; */
        background-color: rgba(255, 226, 90, 0.5);
        color: black;
        border-radius: 10px;
      }

      .npc-option:active {
        transform: scale(1.1);
        background-color: rgba(255, 226, 90, 0.8);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: #ccc;
        margin: 0.5rem 0;
      }

      .sent-message {
        display: flex;
        justify-content: end;
      }

      .sent-message-box {
        display: inline;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        background-color: #b8ea76;
        border-top-right-radius: 0px;
      }
    </style>
  </head>

  <body>
    <div class="chat-container">
      <!-- 헤더 -->
      <div class="chat-header">
        <!-- 백 버튼 -->
        <div class="btn back" onclick="goBack()">
          <svg
            width="10"
            height="19"
            viewBox="0 0 10 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.24346 10.3038C-0.0811533 9.96605 -0.0811533 9.42045 0.24346 9.08186L7.94761 1.05925C8.41622 0.570664 9.17865 0.570664 9.64809 1.05925C10.1167 1.54783 10.1167 2.3408 9.64809 2.82938L3.05761 9.69325L9.64809 16.5554C10.1167 17.0448 10.1167 17.8378 9.64809 18.3264C9.17865 18.815 8.41622 18.815 7.94761 18.3264L0.24346 10.3038Z"
              fill="black"
            />
          </svg>
        </div>
        <!-- 홈버튼 -->
        <div class="btn" onclick="goHome()">
          <svg
            width="18"
            height="16"
            viewBox="0 0 18 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9 0L18 8.85371L17.1818 9.65859L15.9425 8.43942V14.8618L15.9425 16H2.0575V14.8618V14.8617V8.43942L0.818182 9.65859L0 8.85371L8.18182 0.804881L9 0ZM9 1.60976L14.7854 7.30114V14.8617H11.3142V10.3087H10.1571V14.8617H7.84292V10.3087H6.68583V14.8617H3.21458V7.30114L9 1.60976ZM11.3142 9.17037H6.68583V10.3087H11.3142V9.17037Z"
              fill="black"
              fill-opacity="0.8"
            />
          </svg>
        </div>
      </div>
      <div class="divider"></div>

      <!-- 채팅방 전체 -->
      <div class="chat-body" id="chat-body" style="padding-bottom: 300px">
        <!-- 이 안에 채팅 내용 채워질 예정  -->
      </div>
    </div>

    <script>
      const chatBody = document.getElementById("chat-body");

      // 라우팅시, 동작될 코드
      window.onload = function () {
        selectHistoryPerson();
      };

      function goBack() {
        window.history.back();
      }

      function goHome() {
        window.location.href = "/";
      }
      // 기본 정보
      const sejongInfo = `
      아주 오랜 옛날, 조선이라는 나라가 있었어요. 
        그 나라에는 세종대왕이라는 훌륭한 왕이 있었어요. 
        세종대왕은 1397년 4월 10일에 태어났어요. 
        그의 진짜 이름은 '이도'였고, 세종은 그의 왕 이름이에요. 
        세종대왕의 아버지는 태종이라는 왕이었고, 어머니는 원경왕후 민씨였어요. 
        세종대왕은 어릴 때부터 똑똑하고 착한 아이였어요. 
        그래서 1408년에 충녕군이라는 높은 자리에 오르게 되었어요. 
        1418년에는 형인 양녕대군이 왕이 되기에 적합하지 않다고 판단되어, 세종대왕이 왕의 자리에 오르게 되었어요. 
        이때 나이는 겨우 22살이었어요. 
        세종대왕(이도, 자는 원정)은 조선의 태종의 셋째 아들로, 원래 태종의 뒤를 이을 왕세자는 양녕대군이었습니다. 
        그러나 양녕대군이 여러 사건으로 인해 세자로서의 품위를 손상시키자, 태종은 그를 폐위하고 학문에 능하고 정치에 유능한 충녕대군(세종)을 세자로 책봉했습니다. 
        1418년 6월 세자가 된 세종은 두 달 뒤인 8월에 왕위에 올라 조선의 네 번째 왕이 되었습니다. 
        세종대왕은 왕이 된 초반에 장인이 처형되고 처가가 풍비박산되는 비극을 겪었어요. 
        또한, 사랑하는 자식들과 아내가 먼저 세상을 떠나서 많은 슬픔을 겪었어요. 
        세종대왕 자신도 여러 가지 질병으로 고통받았어요. 
        이러한 어려움 속에서도 세종대왕은 나라를 잘 다스리고, 백성들을 위해 많은 일을 했어요. 
        세종대왕 덕분에 우리는 한글을 사용할 수 있고, 다양한 문화와 과학의 발전을 누릴 수 있게 되었어요. 
        세종대왕은 정말 위대한 왕이었어요. 
        그는 1450년에 54세의 나이로 세상을 떠났지만, 그의 업적은 오늘날까지도 기억되고 있어요.
      `;
      const sundukInfo = `
      옛날 옛적, 신라라는 나라에 선덕여왕이라는 멋진 여왕이 있었어요. 
        본명은 김덕만이었고, 아버지는 진평왕, 어머니는 마야부인이었지요. 
        그런데 아버지가 아들이 없이 돌아가시자, 신라의 중요한 회의에서 김덕만을 여왕으로 뽑았어요. 
        그렇게 632년에 김덕만은 드디어 선덕여왕이 되었어요! 
        신라에서 여왕이 될 수 있었던 이유는 특별한 왕족 혈통인 '성골'이었기 때문이랍니다. 
        선덕여왕은 신라 최초의 여왕으로, 나라를 잘 다스리기 위해 정말 많은 노력을 했어요. 
        어려운 시기에도 나라를 지키기 위해 최선을 다한 훌륭한 여왕이었지요. 
        백성들은 그녀를 정말 사랑하고 존경했답니다! 
        선덕여왕은 16년 동안 왕으로 다스리다가 647년에 돌아가셨습니다. 
      
      `;
      const ahnInfo = `
      안중근 의사는 1879년 9월 2일, 지금의 황해도 해주에서 태어났어요. 
                어릴 때부터 그는 책 읽기를 좋아하고, 공부도 열심히 했어요. 
                그의 아버지는 지역에서 존경받는 인물이었고, 안중근에게 나라를 사랑하는 마음을 심어주었어요. 
                안중근은 일본이 우리나라를 점점 더 많이 지배하려고 하자, 나라를 지키기 위해 싸우기로 결심했어요. 
                1905년에 을사조약이 체결되어 우리나라가 일본의 보호국이 되자, 안중근은 의병 활동을 시작했어요. 
                의병은 나라를 지키기 위해 자발적으로 싸우는 사람들을 말해요. 
                안중근은 1909년 10월 26일, 하얼빈이라는 중국의 도시에서 일본의 정치가 이토 히로부미를 저격했어요. 
                이토 히로부미는 일본의 중요한 인물로, 우리나라를 일본의 식민지로 만드는 데 큰 역할을 했어요. 
                안중근은 이토 히로부미를 저격한 후, 현장에서 바로 체포되었어요.
                안중근은 체포된 후, 뤼순 감옥에 수감되었어요. 
                감옥에서도 그는 나라를 사랑하는 마음을 잃지 않았고, 다른 수감자들에게 한자를 가르치고, 민족의 역사를 이야기해주었어요. 
                그는 감옥에서도 끊임없이 나라를 위해 노력했어요. 
                안중근 의사는 1910년 3월 26일, 뤼순 감옥에서 처형되어 세상을 떠났어요. 
                하지만 그의 용기와 희생은 지금도 많은 사람들에게 큰 감동을 주고 있어요. 
                안중근 의사는 나라를 위해 자신의 목숨을 바친 위대한 독립운동가예요. 
                그의 이야기는 우리에게 나라를 사랑하는 마음과 용기의 중요성을 알려줘요. 지금도 우리는 안중근 의사의 정신을 기억하고, 그의 희생을 잊지 말아야 해요.
      `;

      // 업적 정보
      const sejong_job_list = [
        "평화로운 유교 정치",
        "책을 만드는 집현전",
        "훈민정음, 한글의 탄생",
        "눈부신 과학기술의 발전",
        "음악, 아악",
      ];
      const sunduk_job_list = [
        "백성들을 위한 따뜻한 마음",
        "나라를 지키는 상징, 구층목탑",
        "위기와 죽음",
      ];
      const ahn_job_list = [
        "독립을 위한 망명과 활동",
        "일본의 압박과 을사늑약",
        "항일 의병 투쟁",
        "이토 히로부미 저격",
        "의연한 재판과 순국",
      ];
      // 업적 답변
      const sejong_job_answer = {
        "평화로운 유교 정치":
          "세종대왕은 유교적 이념을 바탕으로 중앙집권적 통치체제를 강화하고, 백성을 위한 정치와 사회 제도를 개선하였습니다. 특히, 경국대전의 초안을 작성하여 법제도를 정비하고 유교 교육을 강화하였습니다.",
        "책을 만드는 집현전":
          "세종대왕은 집현전을 설립하여 학문과 문화를 진흥시켰습니다. 집현전은 학자들이 모여 연구하고 토론하며 다양한 분야에서 지식을 쌓는 중요한 기관이었습니다. 이를 통해 한글 창제와 같은 중요한 성과를 이루어냈습니다.",
        "훈민정음, 한글의 탄생":
          "세종대왕은 백성들이 쉽게 읽고 쓸 수 있는 한글, 즉 훈민정음을 창제하였습니다. 이는 한국 역사상 가장 중요한 문화적 업적으로 평가되며, 오늘날까지도 사용되고 있는 한국어의 기초가 되었습니다.",
        "눈부신 과학기술의 발전":
          "세종대왕은 과학기술의 발전에도 큰 관심을 기울였습니다. 천문학, 의학, 농업 등의 분야에서 많은 발전이 이루어졌으며, 측우기, 앙부일구 등 다양한 과학기구를 발명하였습니다.",
        "음악, 아악":
          "세종대왕은 음악에도 깊은 관심을 가지고 새로운 악기와 악곡을 창작하였습니다. 특히, 아악을 정비하고 궁중음악을 체계화하여 음악 문화의 발전에 크게 기여하였습니다.",
      };
      const sunduk_job_answer = {
        "백성들을 위한 따뜻한 마음":
          "선덕여왕은 백성들을 위한 여러 가지 정책을 펼치며 따뜻한 마음으로 다스렸습니다.",
        "나라를 지키는 상징, 구층목탑":
          "선덕여왕은 나라를 지키기 위해 황룡사 구층목탑을 건립하여 신라의 번영과 안정을 기원했습니다.",
        "위기와 죽음":
          "선덕여왕은 재위 기간 동안 여러 가지 위기와 어려움을 겪었으며, 결국 647년에 세상을 떠났습니다.",
      };
      const ahn_job_answer = {
        "독립을 위한 망명과 활동":
          "안중근은 독립을 위해 망명하여 여러 활동을 펼쳤습니다.",
        "일본의 압박과 을사늑약":
          "안중근은 일본의 압박과 을사늑약을 비판하며 독립운동에 헌신하였습니다.",
        "항일 의병 투쟁":
          "안중근은 항일 의병 투쟁을 통해 일본에 저항하였습니다.",
        "이토 히로부미 저격":
          "안중근은 1909년 하얼빈에서 이토 히로부미를 저격하여 한국의 독립 의지를 세계에 알렸습니다.",
        "의연한 재판과 순국":
          "안중근은 일본 법정에서 의연하게 자신의 뜻을 밝히고 1910년 순국하였습니다.",
      };
      // 스토리 정보
      const sejong_story_list = [
        "초정 약수 이야기",
        "고기를 좋아하는 세종",
        "한글 창제",
      ];
      const sunduk_story_list = [
        "향기 없는 꽃의 비밀",
        "개구리들의 비밀 신호",
        "마지막 예언",
      ];
      const ahn_story_list = [
        "손가락의 단지",
        "하얼빈에서의 준비",
        "감옥에서의 교육 활동",
      ];
      // 스토리 답변
      const sejong_story_answer = {
        "초정 약수 이야기":
          "세종대왕은 건강이 좋지 않았을 때 초정 약수를 마시며 요양을 하였고, 이 약수는 세종대왕의 병을 호전시키는 데 큰 역할을 했다고 전해집니다.",
        "고기를 좋아하는 세종":
          "세종대왕은 고기를 좋아했으며, 특히 소고기를 즐겨 먹었다고 합니다.",
        "한글 창제":
          "세종대왕은 백성들이 쉽게 읽고 쓸 수 있는 한글, 즉 훈민정음을 창제하였습니다. 이는 한국 역사상 가장 중요한 문화적 업적으로 평가되며, 오늘날까지도 사용되고 있는 한국어의 기초가 되었습니다.",
      };
      const sunduk_story_answer = {
        "향기 없는 꽃의 비밀":
          "선덕여왕은 향기 없는 꽃을 보고 자신의 운명을 예견했다고 전해집니다.",
        "개구리들의 비밀 신호":
          "선덕여왕은 개구리들의 울음소리를 듣고 적의 침입을 알아챘다는 이야기가 전해집니다.",
        "마지막 예언":
          "선덕여왕은 죽기 전, 자신의 무덤 자리를 예언하며 그곳에 묻히기를 원했다고 합니다.",
      };
      const ahn_story_answer = {
        "손가락의 단지":
          "안중근은 동지들과 함께 독립을 맹세하며 손가락을 자르는 결의를 하였습니다.",
        "하얼빈에서의 준비":
          "안중근은 하얼빈에서 이토 히로부미 저격을 위해 철저히 준비하였습니다.",
        "감옥에서의 교육 활동":
          "안중근은 감옥에서도 교육 활동을 멈추지 않고, 동료들에게 글을 가르치며 희망을 잃지 않았습니다.",
      };

      // 유저 클릭시 응답
      function selectOptionByUser(message) {
        // 유저 클릭시 유저 메시지로 보내질 내용
        let newMessage = document.createElement("div");
        newMessage.className = "sent-message";
        newMessage.innerHTML = `
                <div class="sent-message-box">
                    <div class="message-text">${message}</div>
                </div>
                `;

        // 새로운 메시지를 chat-body에 추가
        chatBody.appendChild(newMessage);

        // Scroll to the bottom of the chat body (optional)
        chatBody.scrollTop = chatBody.scrollHeight;
      }

      // npc 무엇이 궁금해? - 옵션 제공
      function whatdoyouwanttoknow(character) {
        let newMessage = document.createElement("div");
        newMessage.className = "npc";
        newMessage.innerHTML = `
                <div class="npc-message">
                    <img src="/static/owl.png" height="50px" alt="" />
                    <div class="npc-message-box">
                        <div class="message-sender">역사 천재</div>
                        <div class="message-text">
                            
                        </div>
                    </div>
                </div>
                <!-- npc 채팅 옵션 -->
                <div class="npc-options npc-options-vertical">
                    <div class="btn npc-option" onclick="selectOptionByUser('어떤 사람이었어?'); whatkindofperson('${character}');">
                        어떤 사람이었어?
                    </div>
                    <div class="btn npc-option" onclick="selectOptionByUser('무슨 일을 했어?'); whatjob('${character}');">
                        무슨 일을 했어?
                    </div>
                    <div class="btn npc-option" onclick="selectOptionByUser('재밌는 이야기 알려줘'); funstory('${character}');">
                        재밌는 이야기 알려줘
                    </div>
                </div>
            </div>
            `;

        let message = newMessage.querySelector(".message-text");
        let text = `${character}의 무엇이 궁금해?`;

        chatBody.appendChild(newMessage);
        chatBody.scrollTop = chatBody.scrollHeight;

        displayText(message, text, 0);
      }

      // npc 무엇이 궁금해? - 다른 사람 선택지 추가
      function whatdoyouwanttoknow2(character) {
        let newMessage = document.createElement("div");
        newMessage.className = "npc";
        newMessage.innerHTML = `
                <div class="npc-message">
                    <img src="/static/owl.png" height="50px" alt="" />
                    <div class="npc-message-box">
                        <div class="message-sender">역사 천재</div>
                        <div class="message-text"></div>
                    </div>
                </div>
                <!-- npc 채팅 옵션 -->
                <div class="npc-options npc-options-vertical">
                    <div class="btn npc-option" onclick="selectOptionByUser('어떤 사람이었어?'); whatkindofperson('${character}');">
                        어떤 사람이었어?
                    </div>
                    <div class="btn npc-option" onclick="selectOptionByUser('무슨 일을 했어?'); whatjob('${character}');">
                        무슨 일을 했어?
                    </div>
                    <div class="btn npc-option" onclick="selectOptionByUser('재밌는 이야기 알려줘'); funstory('${character}');">
                        재밌는 이야기 알려줘
                    </div>
                    <div class="btn npc-option" style="background-color: #FFD464" onclick="selectHistoryPerson()";">
                        다른 인물의 이야기 듣기
                    </div>
                    
                </div>
            </div>
            `;

        chatBody.appendChild(newMessage);
        chatBody.scrollTop = chatBody.scrollHeight;

        let message = newMessage.querySelector(".message-text");
        let text = `${character}의 무엇이 궁금해?`;

        displayText(message, text, 0);
      }

      // 어떤 사람이야? - 기본 정보
      function whatkindofperson(character) {
        let info = "";

        if (character === "세종대왕") {
          info = sejongInfo;
        } else if (character === "선덕여왕") {
          info = sundukInfo;
        } else if (character === "안중근") {
          info = ahnInfo;
        }

        let newMessage = document.createElement("div");
        newMessage.className = "npc";
        newMessage.innerHTML = `
                <div class="npc-message">
                    <img src="/static/owl.png" height="50px" alt="" />
                    <div class="npc-message-box">
                        <div class="message-sender">역사 천재</div>
                        <div class="message-text">
                        </div>
                    </div>
                </div>
            </div>
            `;

        chatBody.appendChild(newMessage);
        chatBody.scrollTop = chatBody.scrollHeight;

        let message = newMessage.querySelector(".message-text");
        let text = `${info}`;

        displayText(message, text, 0, whatdoyouwanttoknow2, character);
      }

      // 무슨 업적 - 옵션 제공
      function whatjob(character) {
        let htmlString = ``;

        let job_list = [];
        if (character === "세종대왕") {
          job_list = sejong_job_list;
        } else if (character === "선덕여왕") {
          job_list = sunduk_job_list;
        } else if (character === "안중근") {
          job_list = ahn_job_list;
        }

        for (let job of job_list) {
          htmlString += `
                <div class="btn npc-option" 
                onclick="selectOptionByUser('${job}'); jobInfo('${job}', '${character}');">
                    ${job}
                </div>
                `;
        }

        let newMessage = document.createElement("div");
        newMessage.className = "npc";
        newMessage.innerHTML = `
                <div class="npc-message">
                    <img src="/static/owl.png" height="50px" alt="" />
                    <div class="npc-message-box">
                        <div class="message-sender">역사 천재</div>
                        <div class="message-text">
                        </div>
                    </div>
                </div>
                <!-- npc 채팅 옵션 -->
                <div class="npc-options npc-options-vertical">
                    ${htmlString}
                </div>
            </div>
            `;

        chatBody.appendChild(newMessage);
        chatBody.scrollTop = chatBody.scrollHeight;

        let message = newMessage.querySelector(".message-text");
        let text = `${character}은 많은 업적이 있어! 어떤 업적을 알고 싶어?`;

        displayText(message, text, 0);
      }

      // 업적 답변
      async function jobInfo(job, character) {
        let job_list = [];
        let job_answer = [];

        if (character === "세종대왕") {
          job_list = sejong_job_list;
          job_answer = sejong_job_answer;
        } else if (character === "선덕여왕") {
          job_list = sunduk_job_list;
          job_answer = sunduk_job_answer;
        } else if (character === "안중근") {
          job_list = ahn_job_list;
          job_answer = ahn_job_answer;
        }

        let newMessage = document.createElement("div");
        newMessage.className = "npc";
        newMessage.innerHTML = `
                <div class="npc-message">
                    <img src="/static/owl.png" height="50px" alt="" />
                    <div class="npc-message-box">
                        <div class="message-sender">역사 천재</div>
                        <div class="message-text">
                        </div>
                    </div>
                </div>
            </div>
            `;

        chatBody.appendChild(newMessage);
        chatBody.scrollTop = chatBody.scrollHeight;

        let message = newMessage.querySelector(".message-text");
        let text = `${job_answer[`${job}`]}`;

        displayText(message, text, 0, whatdoyouwanttoknow2, character);
        // whatdoyouwanttoknow2('${character}');
      }

      // 재밌는 이야기 알려줘 - 옵션 제공
      function funstory(character) {
        let story_list = [];

        if (character === "세종대왕") {
          story_list = sejong_story_list;
        } else if (character === "선덕여왕") {
          story_list = sunduk_story_list;
        } else if (character === "안중근") {
          story_list = ahn_story_list;
        }

        let htmlString = ``;

        for (let story of story_list) {
          htmlString += `
                <div class="btn npc-option" onclick="selectOptionByUser('${story}'); storyInfo('${story}', '${character}');">
                    ${story}
                </div>
                `;
        }

        let newMessage = document.createElement("div");
        newMessage.className = "npc";
        newMessage.innerHTML = `
                <div class="npc-message">
                    <img src="/static/owl.png" height="50px" alt="" />
                    <div class="npc-message-box">
                        <div class="message-sender">역사 천재</div>
                        <div class="message-text">
                        </div>
                    </div>
                </div>
                <!-- npc 채팅 옵션 -->
                <div class="npc-options npc-options-vertical">
                    ${htmlString}
                </div>
            </div>
            `;

        chatBody.appendChild(newMessage);
        chatBody.scrollTop = chatBody.scrollHeight;

        let message = newMessage.querySelector(".message-text");
        let text = `${character}의 재밌는 스토리는 많이 있어! 어느 것을 알고 싶어?`;

        displayText(message, text, 0);
      }

      // 재밌는 이야기 답변
      function storyInfo(story, character) {
        let story_list = [];
        let story_answer = [];

        if (character === "세종대왕") {
          story_list = sejong_story_list;
          story_answer = sejong_story_answer;
        } else if (character === "선덕여왕") {
          story_list = sunduk_story_list;
          story_answer = sunduk_story_answer;
        } else if (character === "안중근") {
          story_list = ahn_story_list;
          story_answer = ahn_story_answer;
        }

        let newMessage = document.createElement("div");
        newMessage.className = "npc";
        newMessage.innerHTML = `
                <div class="npc-message">
                    <img src="/static/owl.png" height="50px" alt="" />
                    <div class="npc-message-box">
                        <div class="message-sender">역사 천재</div>
                        <div class="message-text">
                        </div>
                    </div>
                </div>
            </div>
            `;

        chatBody.appendChild(newMessage);
        chatBody.scrollTop = chatBody.scrollHeight;

        let message = newMessage.querySelector(".message-text");
        let text = `${story_answer[`${story}`]}`;

        displayText(message, text, 0, whatdoyouwanttoknow2, character);
      }

      function knowmore(character) {
        let newMessage = document.createElement("div");
        newMessage.className = "npc";
        newMessage.innerHTML = `
                <div class="npc-message">
                    <img src="/static/owl.png" height="50px" alt="" />
                    <div class="npc-message-box">
                        <div class="message-sender">역사 천재</div>
                        <div class="message-text">
                        </div>
                    </div>
                </div>
                <!-- npc 채팅 옵션 -->
                <div class="npc-options">
                    
                    <div class="btn npc-option" onclick="selectOptionByUser('유교정치')">
                        더 알고 싶어
                    </div>
                    <div class="btn npc-option" onclick="selectOptionByUser('집현전')">
                        없어
                    </div>
                </div>
            </div>
            `;

        chatBody.appendChild(newMessage);
        chatBody.scrollTop = chatBody.scrollHeight;

        let message = newMessage.querySelector(".message-text");
        let text = `${character}에 대해 더 알고 싶은 거 있어?`;

        displayText(message, text, 0);
      }

      function selectHistoryPerson() {
        let newMessage = document.createElement("div");
        newMessage.className = "npc";
        newMessage.innerHTML = `
                    <!-- npc 메시지 -->
                    <div class="npc-message">
                        <img src="/static/owl.png" height="50px" alt="" />
                        <div class="npc-message-box">
                            <div class="message-sender">역사 천재</div>
                            <div class="message-text">
                            </div>
                        </div>
                    </div>
                    <!-- npc 채팅 옵션 -->
                    <div class="npc-options">
                        <div class="btn npc-option" onclick="selectOptionByUser('선덕여왕'); whatdoyouwanttoknow('선덕여왕');">
                            선덕여왕
                        </div>
                        <div class="btn npc-option" onclick="selectOptionByUser('세종대왕'); whatdoyouwanttoknow('세종대왕');">
                            세종대왕
                        </div>
                        <div class="btn npc-option" onclick="selectOptionByUser('안중근'); whatdoyouwanttoknow('안중근');">
                            안중근
                        </div>
                    </div>
                </div>
                <!-- 옵션 클릭 사용자 메시지 -->
                <div class="sent-message">
                    <img src="" alt="" />
                    <div class="sent-message-box d-none">
                        <div class="message-sender text-end">You</div>
                        <div class="message-text"></div>
                    </div>
                </div>
            `;

        chatBody.appendChild(newMessage);
        chatBody.scrollTop = chatBody.scrollHeight;

        let message = newMessage.querySelector(".message-text");
        let text = `안녕! 난 너에게 이야기를 해줄 부엉이 선생님이야!
    어떤 인물의 이야기를 듣고 싶어?`;

        displayText(message, text, 0);
      }

      let isUserAtBottom = true; // 초기에 스크롤이 맨 밑에 있다고 가정

      // 사용자가 스크롤을 이동했는지 여부를 감지
      chatBody.addEventListener("scroll", () => {
        isUserAtBottom =
          chatBody.scrollHeight - chatBody.scrollTop === chatBody.clientHeight;
      });

      // ChatGPT처럼 한 글자씩 출력하도록...
      function displayText(contentDiv, text, index, callback, character) {
        if (index < text.length) {
          contentDiv.textContent += text[index];
          if (isUserAtBottom) {
            chatBody.scrollTop = chatBody.scrollHeight;
          }
          // chatBody.scrollTop = chatBody.scrollHeight;
          setTimeout(function () {
            displayText(contentDiv, text, index + 1, callback, character);
          }, 30);
          // 30milli sec
        } else {
          if (isUserAtBottom) {
            chatBody.scrollTop = chatBody.scrollHeight;
          }
          // chatBody.scrollTop = chatBody.scrollHeight;
          // 1초 후 물어보기 실행
          if (callback) {
            setTimeout(function () {
              callback(character);
            }, 1000);
          }
        }
      }
    </script>
  </body>
</html>
